#customSwitch1 {
    position: absolute;
    right: 1px;
    top: 1px;
}


.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}

@media (max-width: 900px) {
  #allPage {
    padding-top:35px;
  }
}

#progress {
  margin: 3vh;
  margin-top: 12vh;
  color: rgb(26, 182, 26);
}

.toggle {
  right: -77px;
}

.modal {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top:50%;
}